@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
  color: white;
}
h1 {
  text-align: center;
  color: white;
}
